[identity]
executor_id = "{{ executor_id }}"
version = "{{ executor_version }}"

[dispatcher]
addr = "{{ dispatcher_addr }}:{{ dispatcher_grpc_port }}"
yamux_addr = "{{ dispatcher_addr }}:{{ dispatcher_http_port }}"

[tls]
disable = {{ executor_disable_tls | lower }}

[resources]
capacity = {{ executor_capacity }}
max_debuglets = {{ executor_max_debuglets }}

[tesla]
seed = "{{ executor_tesla_seed }}"
delay = {{ tesla_delay }}

[logging]
log_level = "{{ executor_log_level }}"

[credentials]
ca_cert = "{{ config_dir }}/executor/ca.crt"
client_cert = "{{ config_dir }}/executor/client.crt"
client_key = "{{ config_dir }}/executor/client.key"
